@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

.header-title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.header-subtitle {
  @extend .header-title;
  font-size: 2rem;
  text-transform: none;
}

.headd {
  background: url(../img/header-photo.jpg) no-repeat center;
  background-size: cover;
}