@import url('https://fonts.googleapis.com/css?family=Lato:100,200,400,700,900');

$font-prime : 'Lato', sans-serif;
$font-color-basic: #2a394f;
$accent-color: #1a88ef;
$back-dark: #1e1e1e;
$link-hover: #0e7adf;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin translate($args...) {
  transform: translateY($args);
  -ms-transform: translateY($args);
  -webkit-transform: translateY($args);
}

$md-width: 768px;
$lg-width: 992px;

@mixin tablet {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}


* {
  font-family: $font-prime;
  font-weight: 200;
  font-size: 14px;
  color: $font-color-basic;
}

// GENERAL

.center {
  text-align: center;
}

.title-on-white {
  font-weight: 200;
  font-size: 45px;
}

.title-on-dark {
  font-weight: 200;
  font-size: 45px;
  color: white;
}

.description {
  padding: 20px 0 0;
  line-height: 3rem;
}

.description-on-dark {
  @extend .description;
  color: white;
}

// NAV

nav {
  position: fixed;
  width: 100%;
  @include transition(500ms ease);
  z-index: 10;
}

.nav-background {
  background-color: #2a394f;
}

// HEADER

.header-title {
  margin: 200px 0 0;
  font-weight: 100;
  font-size: 54px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.header-subtitle {
  margin: 90px 0 40px ;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

.header-subtitle-larger {
  @extend .header-subtitle;
  font-size: 23px;
  margin: 0 auto 15px  ;
}

.headd {
  background: url(../img/header-photo.jpg) no-repeat center;
  background-size: cover;
}

// BUTTONS AND FORMS

form {
  max-width: 330px;
  margin: auto;
}

.input-transparent {
  height: 45px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 100;
  background-color: transparent;
}

.mail-error {
  background-color: #900e0e;
  opacity: 0.8;
  border-radius: 3px;
  padding: 5px 0;
  color: white;
  font-size: 12px;
  font-weight: 200;
  @include translate(2px);
}

.hide-me {
  display: none;
}

.input-error {
  border: 2px solid #900e0e;
  opacity: 0.8;
}

.accent-btn {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  border: none;
  font-weight: 100;
  background-color: $accent-color;
  font-size: 21px;
  color: white;
}

#joinus {
  button {
    max-width: 330px;
  }
}

#assets {
  button {
    max-width: 175px;
    background-color: transparent;
  }
}

// SMART

#smart {
  margin-top: 262px;
}
.smart {
  background-color: $back-dark;
  padding: 25px 0 25px;
}

.smartphone {
  margin-top: -210px;
}



// TICK
#tick {
  margin-top: 180px;
}

.centered {
  text-align: center;
}

// BITDIFFERENT

.different {
  background-color: $back-dark;
}

.squares {
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(- 50%);
  position: relative;
}

// FOOTER

footer {
  background-color: #2a394f;
  min-height: 175px;

   p {
     margin-top: 22px;
    color: white;
    text-transform: uppercase;
     font-size: 10.5px;
     font-weight: 400;
     letter-spacing: 1px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 2rem;
    font-size: 10px;
    font-weight: 400;
    color: #6788b7;

    &:hover {
      color: $link-hover;
    }
  }
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.logo-footer-desktop {
  display: none;
  @include desktop {
    display: block;
    text-align: right;
    margin-top: 16px;
  }
}

.logo-footer-tablet {
  padding: 20px 0 0 20px;
  @include desktop {
    display: none;
  }
}

.footer-contents {
  width: 120px;
  //padding-left: 20px;
  padding-bottom: 10px;
  @include desktop {
    padding-left: 0;
  }
}