@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2a394f; }

.title-on-white {
  font-weight: 300;
  font-size: 45px; }

.title-on-dark {
  font-weight: 300;
  font-size: 45px;
  color: white; }

.description, .description-on-dark {
  padding: 20px 0 0;
  line-height: 2.5rem; }

.description-on-dark {
  color: white; }

.centered {
  text-align: center; }

nav {
  position: fixed;
  width: 100%;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  z-index: 10; }

.nav-background {
  background-color: #2a394f; }

header img {
  padding: 50px 0 20px; }

.header-title {
  margin: 160px 0 0;
  font-weight: 100;
  font-size: 54px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2; }

.header-subtitle, .header-subtitle-larger {
  margin: 65px 0 40px;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  text-align: center; }

.header-subtitle-larger {
  font-weight: 300;
  font-size: 20px;
  margin: 0 auto 15px; }

.headd {
  background: url(../img/header-photo.jpg) no-repeat center;
  background-size: cover; }

form {
  max-width: 280px;
  margin: auto; }

.form-control {
  color: white; }

.input-transparent {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  background-color: transparent; }

.mail-error {
  background-color: #900e0e;
  opacity: 0.8;
  border-radius: 3px;
  padding: 5px 0;
  color: white;
  font-size: 12px;
  transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px); }

.hide-me {
  display: none; }

.input-error {
  border: 2px solid #900e0e;
  opacity: 0.8; }

.accent-btn {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-weight: 300;
  background-color: #1a88ef;
  font-size: 19px;
  color: white; }

#joinus button {
  max-width: 280px; }

#assets button {
  max-width: 175px;
  background-color: transparent;
  border: 2px solid #1a88ef;
  color: #1a88ef; }

#smart {
  margin-top: 262px; }

.smart {
  background-color: #1e1e1e;
  padding: 25px 0 25px; }

.indented {
  text-indent: 2rem; }

.smartphone {
  margin-top: -210px; }

#tick {
  margin-top: 200px; }
  #tick img {
    margin-top: 60px; }

.different {
  background-color: #1e1e1e; }
  .different img {
    margin-top: 60px; }

.margined {
  margin: 110px 0 -10px; }

.squares {
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: relative; }

#assets {
  margin: 110px 0 0; }
  #assets p.title-on-white {
    margin: 50px 0 0; }

#joinus {
  margin: 110px 0 0; }

footer {
  background-color: #2a394f;
  min-height: 175px;
  margin: 120px 0 0; }
  footer img {
    width: 85px; }
  footer p {
    margin-top: 22px;
    color: white;
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 400;
    letter-spacing: 1px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    line-height: 2rem;
    color: #6788b7;
    font-weight: 400;
    font-size: 10px; }
    ul li a {
      color: #6788b7;
      font-weight: 400;
      font-size: 10px; }
      ul li a:focus {
        color: #0e7adf;
        text-decoration: none; }
      ul li a:visited {
        color: #6788b7;
        text-decoration: none; }
      ul li a:hover {
        color: #0e7adf;
        text-decoration: none; }

.container-flex {
  display: flex;
  flex-wrap: wrap; }

.logo-footer-desktop {
  display: none; }
  @media (min-width: 992px) {
    .logo-footer-desktop {
      display: block;
      text-align: right;
      margin-top: 16px; } }

.logo-footer-tablet {
  padding: 20px 0 0 15px; }
  @media (min-width: 992px) {
    .logo-footer-tablet {
      display: none; } }

.footer-contents {
  width: 120px;
  padding-bottom: 10px; }
  @media (min-width: 992px) {
    .footer-contents {
      padding-left: 0; } }

/*# sourceMappingURL=styles.css.map */
