@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2a394f; }

.title-on-white {
  font-size: 43px; }

.title-on-dark {
  font-size: 43px;
  color: white; }

.description, .description-on-dark {
  padding: 20px 0 0;
  line-height: 2.5rem; }

.description-on-dark {
  color: white; }

.centered {
  text-align: center; }

.appear-1, .appear-2 {
  opacity: 0;
  -webkit-transition: 1200ms ease;
  -moz-transition: 1200ms ease;
  -ms-transition: 1200ms ease;
  -o-transition: 1200ms ease;
  transition: 1200ms ease; }

.make-visible {
  opacity: 1; }

nav {
  position: fixed;
  width: 100%;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  padding: 15px 0 15px;
  z-index: 10; }
  nav a {
    color: white;
    font-weight: 400;
    font-size: 12.5px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    nav a:focus {
      color: #0e7adf;
      text-decoration: none; }
    nav a.active {
      color: #0e7adf; }
      nav a.active::before {
        content: '.';
        display: inline-block;
        position: absolute;
        bottom: -0.4em;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 30px; }
    nav a:hover {
      text-decoration: none;
      color: white; }
      nav a:hover::before {
        content: '.';
        display: inline-block;
        position: absolute;
        bottom: -0.4em;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 30px;
        color: #0e7adf; }

.logo-top {
  display: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    .logo-top {
      display: block;
      width: 95px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .logo-top {
      display: block;
      width: 95px; } }
  @media (min-width: 1200px) {
    .logo-top {
      display: block;
      width: 95px; } }

.nav-background {
  background-color: #2a394f; }

header {
  background: url(../img/header-photo.jpg) no-repeat center;
  background-size: cover; }
  header img {
    padding: 50px 0 20px; }

.header-title {
  margin: 160px 10px 0;
  font-weight: 100;
  font-size: 40px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2; }
  @media (min-width: 768px) and (max-width: 991px) {
    .header-title {
      font-size: 54px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-title {
      font-size: 54px; } }
  @media (min-width: 1200px) {
    .header-title {
      font-size: 54px; } }

.header-subtitle, .header-subtitle-larger {
  margin: 65px 0 40px;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  text-align: center; }

.header-subtitle-larger {
  font-weight: 300;
  font-size: 20px;
  margin: 0 auto 15px; }

form {
  max-width: 280px;
  margin: auto;
  transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px); }

.form-control {
  color: white; }

.input-transparent {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  background-color: transparent; }

.mail-error {
  background-color: #900e0e;
  opacity: 0.8;
  border-radius: 3px;
  padding: 5px 0;
  color: white;
  font-size: 12px;
  transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px); }

.hide-me {
  visibility: hidden; }

.input-error {
  border: 2px solid #900e0e;
  opacity: 0.8; }

.accent-btn {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-weight: 300;
  background-color: #1a88ef;
  font-size: 19px;
  color: white;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

#joinus button {
  max-width: 280px; }

#assets button {
  max-width: 175px;
  background-color: transparent;
  border: 2px solid #1a88ef;
  color: #1a88ef;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }
  #assets button:hover {
    background-color: #1a88ef;
    color: white; }

#smart {
  margin-top: 100px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #smart {
      margin-top: 200px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #smart {
      margin-top: 262px; } }
  @media (min-width: 1200px) {
    #smart {
      margin-top: 262px; } }

.horizontal-strip {
  height: 183px;
  background-color: #1e1e1e;
  width: 100%;
  position: absolute; }
  @media only screen and (min-width: 543px) {
    .horizontal-strip {
      height: 120px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .horizontal-strip {
      height: 183px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .horizontal-strip {
      height: 183px; } }
  @media (min-width: 1200px) {
    .horizontal-strip {
      height: 120px; } }

.smart {
  padding: 25px 0 25px; }

.indented {
  text-indent: 2rem; }

.smartphone {
  display: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    .smartphone {
      display: block;
      margin-top: -210px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .smartphone {
      display: block;
      margin-top: -210px; } }
  @media (min-width: 1200px) {
    .smartphone {
      display: block;
      margin-top: -210px; } }

#tick {
  margin-top: 60px; }
  #tick img {
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%); }

.translated {
  transform: translateY(10%);
  -ms-transform: translateY(10%);
  -webkit-transform: translateY(10%); }
  @media (min-width: 768px) and (max-width: 991px) {
    .translated {
      transform: translateY(30%);
      -ms-transform: translateY(30%);
      -webkit-transform: translateY(30%); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .translated {
      transform: translateY(50%);
      -ms-transform: translateY(50%);
      -webkit-transform: translateY(50%); } }
  @media (min-width: 1200px) {
    .translated {
      transform: translateY(70%);
      -ms-transform: translateY(70%);
      -webkit-transform: translateY(70%); } }

#different {
  background-color: #1e1e1e;
  padding: 50px 0 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    #different {
      padding: 100px 0 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #different {
      padding: 200px 0 0; } }
  @media (min-width: 1200px) {
    #different {
      padding: 200px 0 0; } }

.different img {
  margin-top: 60px;
  padding: 0 15px 0; }

.margined {
  margin: 110px 0 -10px; }

#assets {
  margin: 110px 0 0; }
  #assets p.title-on-white {
    margin: 50px 0 0; }

#joinus {
  margin: 110px 0 0; }

footer {
  background-color: #2a394f;
  min-height: 175px;
  margin: 120px 0 0; }
  footer img {
    width: 85px; }
  footer p {
    margin-top: 22px;
    color: white;
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 400;
    letter-spacing: 1px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    line-height: 2rem;
    color: #6788b7;
    font-weight: 400;
    font-size: 10px; }
    ul li a {
      color: #6788b7;
      font-weight: 400;
      font-size: 10px;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      ul li a:focus {
        color: #0e7adf;
        text-decoration: none; }
      ul li a:visited {
        color: #6788b7;
        text-decoration: none; }
      ul li a:hover {
        color: #0e7adf;
        text-decoration: none; }

.container-flex {
  display: flex;
  flex-wrap: wrap; }

.logo-footer-desktop {
  display: none; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .logo-footer-desktop {
      display: block;
      text-align: right;
      margin-top: 16px; } }
  @media (min-width: 1200px) {
    .logo-footer-desktop {
      display: block;
      text-align: right;
      margin-top: 16px; } }

.logo-footer-tablet {
  padding: 20px 0 0 15px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .logo-footer-tablet {
      display: none; } }
  @media (min-width: 1200px) {
    .logo-footer-tablet {
      display: none; } }

.footer-contents {
  width: 120px;
  padding-bottom: 10px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer-contents {
      padding-left: 0; } }
  @media (min-width: 1200px) {
    .footer-contents {
      padding-left: 0; } }

/*# sourceMappingURL=styles.css.map */
